ion-card-header{
	margin-top: -105px;
	--background: #DFDAD7;
	opacity: 0.8;
}

ion-card-content{
	margin-top: 15px;
}

.od-card-image{
	max-height: 350px;
    // min-height: 350px;
    width: 100%;
}

.sc-ion-card-md-h{
	border-radius: 12px;
}
