.title-noti{
    font-size: 14pt;
    color: rgb(34, 36, 40);
    margin-top: 27pt;
}




.row-noti-recent{
    margin: auto;
    width: 50%;
    padding: 25px;
    font-size: 30pt;
    color: rgb(216, 216, 216);
}

.row-back{
    margin: auto;
    width: 50%;
    padding: 20px;
    font-size: 21pt;
    color: black;
}

.hr-noti{
    width: 1500px !important;
    background: rgb(224, 224, 224) !important;
    display: block !important;
    margin-left: -400px; 
    visibility: visible !important;
}


.noti-one{
    font-size: 16pt;
    font-family: 600;
    display:                    block;
    width:                      100%;
    height:                     50px;
    overflow:                   hidden;
}

.noti-two{
    font-size: 12pt;
    color: rgb(155, 155, 155);
    text-overflow: ellipsis;white-space: nowrap;
}


.item-noti-margin{
    margin-top: 21pt;
}

.box-noti-item{
    margin-top: 21pt;
    margin-left: -15px;
}

.hr-noti{
    width: 1500px !important;
    background: rgb(224, 224, 224) !important;
    display: block !important;
    margin-left: -400px; 
    visibility: visible !important;
}


.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
     white-space: normal; 
}

.title{
    margin-top: 78pt;
}



