
.comment-avatar {
  width: 53px;
  height: 53px;
  border-radius: 53px;
  margin-right: 10px;
  border: solid 1px #dedede;
}
.comment-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
}
.comment-name {
  font-weight: bold;
  margin-right: 10px;
}

.comment-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-container {
  height: calc(100vh - 80px);
}

.form-bar {
  width: calc(100% - 30px);
  height: 40px;
  position: fixed;
  background: white;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .comment-input-group {
    width: calc(100% - 40px);
    height: 40px;
    display: flex;
    padding: 0px 10px;
    align-items: center;
    border: solid 1px rgb(216, 216, 216);
    border-radius: 20px;

    & ion-input {

    }

    & .send-button {
      color: rgb(0, 156, 215);
    }

  }

  & .add-button {
    width: 40px;
    color: #009cd7;
    font-size: 30px;
    height: 40px;
  }
}
