.title{
    margin-top: 90pt;
    margin-bottom: 15pt;
}

.image-camera-more{
    margin-top: 13pt;
    margin-bottom: 15pt;
}

.content-more{
    margin-top: 38pt;
}

.more-item{
    color: rgb(95,99,105);
    line-height: 18pt;
}

.first-more-item{
    margin-top: 16pt;
}

.others-more-item{
    margin-top: 30pt;
}

.margin-bottom{
    height: 70pt;
}

.more-name{
    font-size: 20px;
    font-weight: 600;
    line-height: 24pt;
}

.more-view-profile{
    font-size: 16px ;
    color: rgb(155, 155, 155);
    line-height: 18pt;
    margin-top: 4pt;
}

.more-icon{
    font-size:18pt;
    display: inline-block;
    vertical-align: middle;
}

.more-item-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-left: 10px;
}

.more-box-icon-text{
    width: fit-content;
}