<ion-content>
    <toolbar [back]="true" title="{{firstName + ' Groups'}}"></toolbar>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div style="margin-top: 40pt;"></div>
          
          <div class="group-card-row" *ngIf="groups.length !== 0">
            <div class="text-center group-card" *ngFor="let group of groups; let i=index">
              <img src="{{group.image}}" />
              <h5 class="title">{{group.title}}</h5>
              <div class="icon-status">
                <ion-icon name="ios-person"></ion-icon>
                <span class="status">{{group.group_members_count}}</span>
              </div>
            </div>
          </div>
   
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </ion-content>