.hr-joined{
	width: 1500px !important;
	background: rgb(224, 224, 224) !important;
	display: block !important;
	margin-left: -400px; 
	visibility: visible !important;
}

.join-item{
	font-size: 17px;
}
.container{
	background-color: #fff;
}
