.box-logo-about{
    margin-top: 56pt;
}

.title-desc-about{
    font-size: 16px;
    line-height: 18pt;
    font-weight: 600;
    margin-top: 59pt;
}

.desc-about{
    font-size: 13px;
    line-height: 18pt;
    margin-top: 9pt;
}

.box-policy-about{
    line-height: 18pt;
    margin-top: 39pt;
}

.policy-about{
    font-size: 16pt;
    font-weight: 600;
}

.policy-arrow{
    font-size: 11pt;
    margin-left: 6pt;
}

.contact-about{
    font-size: 16pt;
    font-weight: 600;
    margin-top: 54pt;
}

.box-blue-circle {
    width: 33%;
    margin: 8px 0px 0px 0px;
}

.follow-about{
    font-size: 16pt;
    font-weight: 600;
    margin-top: 57pt;
}
.denim-blue{
    color: #3b5998;
}
.text-red{
    color: #ce1312;
}
.text-insta{
    color: #d54783;
}
.text-linked{
    color: #0077b5;
}
.mini-container{
    margin: 0px 16px 32px 16px;
}