.hr-pc{
    width: 1500px !important;
    background: rgb(224, 224, 224) !important;
    display: block !important;
    margin-left: -400px; 
    visibility: visible !important;
}

.pc-margin-top{
    margin-top: 34pt;
    margin-bottom: 20pt;
}

ion-input{
    font-size: 17pt;
}

ion-textarea{
    font-size: 17pt;
    color: rgb(200, 199, 204);
}

.btn-pc-box{
    margin-top: 32pt;
    margin-bottom: 36pt;
}

.image-plan{
    width: 95%;
    height: 259pt;
    border-radius: 10px;
}
