.box-container .item{
	float: left;
	min-height: 170px;
    width: 50%;//helps to determine number of columns, for instance 33.3% displays 3 columns
}
.item{
	list-style-type: disc;
}

.cg-card-image{
	max-height: 175px;
	min-height: 120px;
	width: 100%;
	object-fit: cover;
}

.spinner-div {
	text-align: center;
	margin: 15px;
}