ion-card-header{
    margin-top: -85px;
    --background: rgba(255,255,255,0.8);
}

ion-card-content{
    margin-top: 15px;
}

.title-box-c-a{
    color: black;
}

// 26-aug-2019
.two-line-one{
    height: unset !important;
}