.box-center-full{
    margin-top: 35px;
    margin-bottom: 25px;
}

.map-one{
   margin-top: 20px;
}

table{
    margin-top: 24pt;
}

// 26-aug-2019
.btn-blue-general{
    margin-left: 0 !important;
}