<ion-content>
  <div class="btn-back-content-item" [ngClass]="{'btn-back-content-item-ios':_globalServ?.iosDivice}">
    <span (click)="goBack()" class="btn-back-item fas fa-chevron-left"></span>
  </div>
  <div>
    <img *ngIf="getItem?.image && isValidClubImage" class="main-item-image" src="{{getItem?.image}}" (error)="updateClubUrl($event)">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <div class="item-title">
          <h2>
            <span>{{getItem?.title}}</span>
          </h2>
        </div>
        <div class="box-center-full">
          <div class="box-blue-circle" (click)="joinClub()">
            <img *ngIf="isJoined" src="../../../assets/img/fab_checked.png"/>
            <img *ngIf="!isJoined" src="../../../assets/img/fab.png"/>
            <p class="secondary-text" style="margin-top: 5px" [style.color]="isJoined ? '#009cd8' : 'black'">
              <span *ngIf="isJoined">{{ 'club-detail.joined' | translate }}</span>
              <span *ngIf="!isJoined">{{ 'club-detail.join' | translate }}</span>
            </p>
          </div>
        </div>
        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="information-circle"></ion-icon>
            </td>
            <td class="title-item">{{ 'club-detail.details' | translate }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="secondary-text">
              <span *ngIf="_globalServ?.language == 'en'">{{getItem?.description}}</span>
              <span *ngIf="_globalServ?.language == 'es'">{{getItem?.description}}</span></td>
          </tr>
          <tr>
            <td></td>
            <td class="blue-text size-18-pt">{{ 'club-detail.readMore' | translate }}</td>
          </tr>
        </table>
        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="ios-person"></ion-icon>
            </td>
            <td class="title-item">{{ 'club-detail.members' | translate }}: {{clubMembers.length}}</td>
          </tr>
          <tr>
            <td></td>
            <td>
              <span *ngFor="let member of clubMembers; let i = index">
                <img *ngIf="i < math.round((innerWidth - 70 - 2*37) / 37)" class="members-avatar" src="{{member?.Ceu_User?.image}}" />
              </span>
              <span *ngIf="clubMembers.length > math.round((innerWidth - 70 - 2*37) / 37)" class="more-member">
                +{{clubMembers.length - math.round((innerWidth - 70 - 2*37) / 37)}}
              </span>
            </td>
          </tr>
        </table>
        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="ios-star"></ion-icon>
            </td>
            <td class="title-item">{{ 'club-detail.createdBy' | translate }}</td>
          </tr>
          <tbody>
            <tr>
              <td></td>
              <td>
                <span>
                  <img class="members-avatar" src="{{getItem?.Ceu_User?.image}}" />
                </span>
                <span class="secondary-text" style="margin-left: 10px;">{{getItem?.Ceu_User?.first_name}} {{getItem?.Ceu_User?.last_name}}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="pin"></ion-icon>
            </td>
            <td class="title-item">{{ 'club-detail.plans' | translate }}</td>
          </tr>
          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <ion-slides style="width: 100%;" [pager]="true">
          <ion-slide style="width: 100%;" *ngFor="let plan of plans;">
            <plan-card [dataPlan]="plan" style="width: 100%;"></plan-card>
          </ion-slide>
        </ion-slides>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</ion-content>