@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Source+Serif+Pro&display=swap');


ion-card-title .ios .hydrated {
  color: black;
  font-size: 12px !important;
  font-weight: 700;
  letter-spacing: .4px;
}

.spinner-div {
	text-align: center;
  // margin: 15px;
}

// 26-aug-2019
.title{
  font-size: 37px;
  margin-left: 6px;
}
